{% extends 'base.html' %}

{% block head %}

<title>TubeHimu</title>

{% endblock %}

{% block body %}

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->

<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Privacy Policy</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Privacy Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="text-container">
                    <h3>Private Data We Receive And Collect</h3>
                    <p>TubeHimu also automatically collects and receives certain information from your computer or
                        mobile device, including the activities you perform on our Website, the Platforms, and the
                        Applications, the type of hardware and software you are using (for example, your operating
                        system or browser), and information obtained from cookies. For example, each time you visit
                        the Website or otherwise use the Services, we automatically collect your IP address, browser
                        and device type, access times, the web page from which you came, the regions from which you
                        navigate the web page, and the web page(s) you access (as applicable).</p>
                    <p>When you first register for a TubeHimu account, and when you use the Services, we collect some
                        <a class="turquoise" href="#your-link">Personal Information</a> about you such as:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled li-space-lg indent">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">The geographic area where you use your computer and
                                        mobile devices</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Your full name, username, and email address and other
                                        contact details</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">A unique TUbeHimu user ID (an alphanumeric string) which
                                        is
                                        assigned to you upon registration</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Other optional information as part of your account
                                        profile</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Your IP Address and, when applicable, timestamp related
                                        to your consent and confirmation of consent</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Other information submitted by you or your
                                        organizational representatives via various methods</div>
                                </li>
                            </ul>
                        </div> <!-- end of col -->

                        <div class="col-md-6">
                            <ul class="list-unstyled li-space-lg indent">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Your billing address and any necessary other information
                                        to complete any financial transaction, and when making purchases through the
                                        Services, we may also collect your credit card or PayPal information</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">User generated content (such as messages, posts,
                                        comments, pages, profiles, images, feeds or communications exchanged on the
                                        Supported Platforms)</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Images or other files that you may publish via our
                                        Services</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Information (such as messages, posts, comments, pages,
                                        profiles, images) we may receive relating to communications you send us,
                                        such as queries or comments concerning</div>
                                </li>
                            </ul>
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of text-container-->



                <a class="btn-outline-reg back" href="index">BACK</a>
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->

<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->
{% endblock %}