{% extends 'base.html' %}

{%block head %}<title>Terms and Conditions</title>{% endblock %}

{% block body %}
<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Terms & Conditions</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index">Home</a><i class="fa fa-angle-double-right"></i><span>Terms & Conditions</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Terms Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="text-container">
                    <h3>Limitations Of Liability</h3>
                    <p>TubeHimu also automatically collects and receives certain information from your computer or
                        mobile
                        device, including the activities you perform on our Website, the Platforms, and the
                        Applications, the type of hardware and software you are using (for example, your operating
                        system or browser), and information obtained from cookies. For example, each time you visit the
                        Website or otherwise use the Services, we automatically collect your IP address, browser and
                        device type, access times, the web page from which you came, the regions from which you navigate
                        the web page, and the web page(s) you access (as applicable).</p>
                    <p>When you first register for a DownloadMe account, and when you use the Services, we collect some
                        <a class="turquoise" href="#your-link">Personal Information</a> about you such as:</p>
                    <ul class="list-unstyled li-space-lg indent">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">The geographic area where you use your computer and mobile devices
                            </div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Your IP Address and, when applicable, timestamp related to your
                                consent and confirmation of consent</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Other information submitted by you or your organizational
                                representatives via various methods</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->

                <div class="text-container">
                    <h3>Designer Membership And How It Applies</h3>
                    <p>By using any of the Services, or submitting or collecting any Personal Information via the
                        Services, you consent to the collection, transfer, storage disclosure, and use of your Personal
                        Information in the manner set out in this Privacy Policy. If you do not consent to the use of
                        your Personal Information in these ways, please stop using the Services.</p>
                </div> <!-- end of text-container -->
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic -->
<!-- end of terms content -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index">Home</a><i class="fa fa-angle-double-right"></i><span>Terms & Conditions</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


{% endblock %}